.App {
  text-align: center;
}

.paragraph{
  width: 400px;
}

.item-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas{
  height: 80vh;
}

.dtext-container{
  background-color: black;
}


